/* Cursor personalizado */
.cursor-circle {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border: 0.1px solid; /* Borde del círculo */
  z-index: 9999;
  backdrop-filter: blur(1px); /* Desenfoque dentro del círculo */
  transition: left 0.08s ease-out, top 0.08s ease-out; /* Más rápido y suave */
}

/* Icono de la cruz */
.cursor-cross {
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: filter 0.3s ease; /* Transición para el cambio de color */
  z-index: 10000;
}

/* Angel Mode (light) */
.angel-mode .cursor-circle {
  border-color: black;
  backdrop-filter: blur(5px);
}

.angel-mode .cursor-cross {
  filter: invert(0); /* La cruz es negra en Angel Mode */
}

/* Demon Mode (dark) */
.demon-mode .cursor-circle {
  border-color: white;
  backdrop-filter: blur(0.2px); /* Desenfoque dentro del círculo */
}

.demon-mode .cursor-cross {
  filter: invert(1); /* La cruz se invierte a blanca en Demon Mode */
}
